# Ignore PDF files
*.pdf

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp
*.pt
*.zip
*.pyc

# Ignore directories anywhere in project
mhh/
munich/
thm/
nuf.py

!writing/**
!results/**
