# Ignore PDF files
*.pdf

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp
*.pt
*.zip
*.pyc

# Ignore directories anywhere in project
mhh/
munich/
thm/
nuf/
nuf.py

!writing/**
!results/**

# LaTeX build artifacts
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
